


<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="fab fa-angular"></i>
      </mat-panel-title>
      <mat-panel-description>
        <p>Proyecto de <b>ANGULAR</b>, con su respectivo link al repositorio de GITHUB!</p>
      </mat-panel-description>
    </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header >
      <mat-panel-title>
      <!--<mat-icon color="primary">contact_mail</mat-icon>-->
        <i color="primary" class="fab fa-php"></i>
      </mat-panel-title>
      <mat-panel-description>
        <p>Proyectos de <b> PHP </b> y su repositorio de GITHUB!</p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Formulario de contacto!! </p>

</mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <!--<mat-icon color="primary">contact_mail</mat-icon>-->
        <i class="fab fa-react"></i>
      </mat-panel-title>
      <mat-panel-description>
        <p>Proyecto de <b>REACT</b>, con su respectivo link al repositorio de GITHUB!</p>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Formulario de contacto!! </p>

</mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <!--<mat-icon color="primary">contact_mail</mat-icon>-->
        <i class="fab fa-java"></i>
      </mat-panel-title>
      <mat-panel-description>
        <p>Proyecto de <b>JAVA</b>, con su respectivo link al repositorio de GITHUB!</p>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Formulario de contacto!! </p>

</mat-expansion-panel>


  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <!--<mat-icon color="primary">contact_mail</mat-icon>-->
        <i class="fas fa-code"></i>
      </mat-panel-title>
      <mat-panel-description>
        <p>Proyecto de <b>C# .Net Core</b>, con su respectivo link al repositorio de GITHUB!</p>

      </mat-panel-description>
    </mat-expansion-panel-header>

    <h2>Proyecto de Universidad</h2>
    <h4> <b>Curso:</b> Lenguajes para aplicaciones comerciales.</h4>
    <br>
    <p>Este proyecto está pensado para realizarse en dos partes, una desarrollada el Java Springboot y otra en C# .Net Core.
    Debido a que el compañero con el repositorio de Java me quitó los accesos, solo puedo compartir el API basada en C#.</p>
    <p>La idea principal del proyecto es que un cliente agregue problemas al sistema y que automaticamente un administrador pueda darle solución al problema y algún comentario.</p>

    <b> Redirección al GITHUB aquí: </b>
    <a href="https://github.com/dabrin/SupportWebApi" style="color:#FFFFFF;" target="_blank">
      <button mat-raised-button color="primary"  aria-label="Example icon-button with heart icon">
        <i class="fab fa-github"></i>
      </button>
      </a>


  </mat-expansion-panel>



</mat-accordion>
