<button mat-flat-button class="basic" (click)="create()">
  <mat-icon>add</mat-icon>
  Crear
</button>
<mat-form-field color="primary" class="example-full-width">
  <mat-label>Cédula por buscar</mat-label>
  <input [(ngModel)]="textSearch" matInput placeholder="Cedula por buscar" type="text" value="" (input)="search()">
</mat-form-field>

<table mat-table [dataSource]="dataSource | paginator:page_size:page_number" class="mat-elevation-z8 data-table">

  <ng-container matColumnDef="ID_NUMBER">
    <th mat-header-cell *matHeaderCellDef> Cedula </th>
    <td mat-cell *matCellDef="let element"> {{element.ID_NUMBER}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="FIRST_AMOUNT">
    <th mat-header-cell *matHeaderCellDef> Cantidad prestado </th>
    <td mat-cell *matCellDef="let element"> {{element.FIRST_AMOUNT}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="DESCRIPTION">
    <th mat-header-cell *matHeaderCellDef> Descripcion </th>
    <td mat-cell *matCellDef="let element"> {{element.DESCRIPTION}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="DATE_START">
    <th mat-header-cell *matHeaderCellDef> Fecha de prestamo </th>
    <td mat-cell *matCellDef="let element"> {{element.DATE_START}} </td>
  </ng-container>
  <ng-container matColumnDef="PAYMENT">
    <th mat-header-cell *matHeaderCellDef> Cancelado </th>
    <td mat-cell *matCellDef="let element"> {{element.PAYMENT}} </td>
  </ng-container>

  <ng-container matColumnDef="DATE_CLOSE">
    <th mat-header-cell *matHeaderCellDef> Fecha para cancelar </th>
    <td mat-cell *matCellDef="let element"> {{element.DATE_CLOSE}} </td>
  </ng-container>
<ng-container matColumnDef="opciones">
  <th mat-header-cell *matHeaderCellDef> Opciones </th>
  <td mat-cell *matCellDef="let element">
    <button mat-icon-button class="example-icon" (click)="delete(element.ID_NUMBER)"
      aria-label="Example icon-button with menu icon">
      <mat-icon>delete</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" (click)="payment(element.ID_NUMBER)"
      aria-label="Example icon-button with menu icon">
      <mat-icon>payment</mat-icon>
    </button>

  </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="dataSource.length" [pageSize]="page_size" [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="handlePage($event)">

</mat-paginator>
