<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <h4>BACK-END</h4>
    <mat-list>
      <mat-list-item> <p><i class="fas fa-code"> </i> C# (.Net Core)</p>  </mat-list-item>
      <mat-list-item> <p><i class="fab fa-php"> </i> PHP </p></mat-list-item>
      <mat-list-item> <p><i class="fab fa-java"> </i> JAVA </p></mat-list-item>
      <mat-list-item> <p><i class="fab fa-node-js"> </i> NODEJS</p> </mat-list-item>



     </mat-list>

  </mat-grid-tile>

  <mat-grid-tile>

    <h4>FRONT-END</h4>
    <mat-list>
      <mat-list-item> <p> <i class="fab fa-angular"> </i> ANGULAR  </p></mat-list-item>
      <mat-list-item> <p> <i class="fab fa-angular"> </i> IONIC  </p> </mat-list-item>
      <mat-list-item> <p> <i class="fab fa-js-square"> </i> JAVASCRIPT </p></mat-list-item>
      <mat-list-item> <p> <i class="fab fa-css3-alt"> </i> CSS </p> </mat-list-item>
      <mat-list-item> <p> <i class="fab fa-react"> </i> REACT</p> </mat-list-item>


     </mat-list>
  </mat-grid-tile>

  <mat-grid-tile>

    <h4>DATA-BASE MANAGEMENT</h4>
    <mat-list>
      <mat-list-item> <p><i class="fas fa-server"></i> SQL SERVER</p>  </mat-list-item>
      <mat-list-item> <p> <i class="fas fa-server"></i> MySQL</p> </mat-list-item>
      <mat-list-item> <p><i class="fas fa-server"></i> FIREBASE/MONGO</p> </mat-list-item>
     </mat-list>
  </mat-grid-tile>
</mat-grid-list>
