.example-card {
  max-width: 1300px;
}

.example-header-image {
  background-image: url("/assets/imagen_portaf.jpg");
  background-size: cover;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  margin-left: 20px;
  width: 100%;
}


/*-->Conocimientos css <--  */
mat-grid-tile {
  background: #a00058;
  border-radius: 8px; 
  margin-top: 8px;
}

h4{
  color: #baabbe;
  font-display: inherit;
  font-style: italic;
}
mat-grid-tile:hover{
  background-color: #a000589c;
}