<ion-header>
  <ion-toolbar>
    <ion-title>Clases disponibles</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>FUNCIONAL</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      Funcional es un entrenamiento grupal muy efectivo, en el que se adaptan los ejercicios a las necesidades
      personales
      orientado a mejorar las funciones diarias y a aumentar la calidad de vida de quienes lo practican.
      <br>
      <ion-button (click)="showClassDate()" color="success">
        Ver horarios
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>CROSS FITNESS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      El entrenamiento de Cross Fitness se define como un sistema de entrenamiento de fuerza y acondicionamiento físico,
      basado en ejercicios funcionales constantemente variados y realizados a una alta intensidad.
      <br>
      <ion-button (click)="showClassDate()" color="success">
        Ver horarios
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>SALA DE PESAS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      En esta sección podrá seleccionar el horario en el que desea reservar su espacio. En nuestra sala de pesas
      contamos con
      gran cantidad de máquinas y equipo para que pueda realizar sus ejercicios de la mejor manera.
      <br>
      <ion-button (click)="showClassDate()" color="success">
        Ver horarios
      </ion-button>
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>BOXING</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Boxing es un tipo de entrenamiento que combina acondicionamiento físico de alto nivel con boxeo. Alternando los
      entrenamientos día a día, se te enseñará desde lo básico sobre el boxing hasta sus técnicas más especiales.
      <br>
      <ion-button (click)="showClassDate()" color="success">
        Ver horarios
      </ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>